* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background: url("https://images.unsplash.com/photo-1491002052546-bf38f186af56?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=908&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  margin-top: -5rem;
  font-size: 1.5rem;
}
section {
  display: flex;
  margin-top: 1rem;
  margin-left: 1rem;
}
.hours,
.minutes,
.seconds {
  margin-right: 10px;
}
.number {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  background-color: rgb(146, 87, 201);
  padding: 1rem 1.5rem;
}
.text {
  background-color: rgb(45, 7, 81);
  font-size: 0.8rem;
  text-align: center;
  color: white;
  padding: 0.5rem;
}
.after {
  position: relative;
}
h3 {
  font-size: 14px;
  position: absolute;
  left: 5.2rem;
  top: 4rem;
  color: white;
  background-color: green;
  padding: 0.2rem 0.5rem;
}

@media screen and (max-width: 500px) {
  body {
    max-width: 450px;
    max-height: 50vh;
  }
  h1 {
    font-size: 0.8rem;
  }
  .number {
    color: white;
    text-align: center;
    font-size: 1rem;
    background-color: rgb(146, 87, 201);
    padding: 0.5rem 0.75rem;
  }
  .text {
    background-color: #2d0751;
    font-size: 0.4rem;
    text-align: center;
    color: white;
    padding: 0.3rem;
  }
  section {
    margin-left: 0.3rem;
  }
  h3 {
    font-size: 8px;
    position: absolute;
    left: 2.8rem;
    top: 2.2rem;
    color: white;
    background-color: green;
    padding: 0.2rem 0.5rem;
  }
}
